@import "css/reset.css";
html {
  display: flex;
  justify-content: center;
}
body {
  height: 800px;
  width: 350px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  background-color: #ffce33;
  padding: 30px 15px 10px 15px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
form {
  padding: 15px 20px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px -20px;
}
input {
  border: none;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
button {
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.2);
}
main {
  margin-top: 50px;
}
h1 {
  font-weight: 700;
  font-size: 21px;
  cursor: default;
  margin-left: 20px;
}
h2 {
  font-weight: 600;
  font-size: 19px;
  cursor: default;
  margin-bottom: 10px;
}
p {
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  cursor: default;
}
section {
  display: flex;
  padding: 20px;
  overflow: hidden;
}
img {
  height: 112px;
  width: 70px;
  border-radius: 7px;
}
.book-of-the-day img {
  height: 160px;
  width: 100px;
  border-radius: 10px;
  margin-right: 20px;
}
.book-of-the-day__stars i {
  color: #ffce33;
  margin: 15px 2px;
}
.fa-star:last-child {
  color: rgba(0, 0, 0, 0.2);
}
.book-of-the-day__tag {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.book-of-the-day div div {
  display: flex;
  align-items: center;
}
.book-of-the-day__bookmark {
  background-color: #ffce33;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-of-the-day__book-now {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 11px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 40px;
}
.top-adventures a {
  margin-right: 25px;
}
.top-adventures__stars i {
  color: #ffce33;
  margin-top: 10px;
}
.popular-authors img {
  height: 110px;
  width: 110px;
  border-radius: 10px;
  margin-right: 20px;
}
.popular-authors h2,
.popular-authors p {
  cursor: pointer;
}
