.profile-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 71px;
}
.profile-screen__background {
  margin-top: -500px;
  height: 500px;
  width: 500px;
  box-shadow: var(--blue) 0px 200px 200px -140px;
}
.profile-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  background-color: var(--black);
  width: 100%;
  box-shadow: var(--blue) 0px 200px 300px;
}
.profile-avatar {
  background-color: var(--black);
  padding: 5px;
  border-radius: 50%;
  margin-top: -55px;
}
.profile-avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.profile-settings__btn {
  color: var(--blue);
  position: absolute;
  right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.profile-settings__btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  animation: rotateCog 1s linear infinite;
}
.profile-name {
  font-size: 25px;
  margin-top: 10px;
  cursor: default;
}
.profile-name span:first-child {
  color: rgb(120, 220, 255);
}
.profile-connection {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 15px 0px;
}
.profile-connection__btn__selected {
  background-color: rgba(255, 255, 255, 0.15);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-connection__btn__selected > div:first-child {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
}
.profile-connection__btn__selected div + div,
.profile-connection__btn__selected div + i {
  position: absolute;
}
.profile-connection__btn {
  background-color: rgba(255, 255, 255, 0.075);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.profile-connection__btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.profile-connection__btn > div:first-child {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.profile-connection__btn:hover > div:first-child {
  transform: scale(0.5);
  opacity: 0.25;
}
.profile-connection__online {
  background-color: chartreuse;
}
.profile-connection__afk {
  background-color: orange;
}
.profile-connection__other {
  background-color: tomato;
}
.profile-connection__offline {
  background-color: white;
}
.profile-connection__btn div + div,
.profile-connection__btn div + i {
  position: absolute;
  opacity: 0.5;
}
.profile-connection__btn:hover > div:last-child,
.profile-connection__btn:hover > i {
  opacity: 1;
}
.profile-connection__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.profile-connection__column span {
  font-size: 15px;
  cursor: default;
}
.profile-settings__edit {
  background-color: rgb(0, 145, 245);
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  margin: 10px 0px 30px 0px;
  cursor: pointer;
}
.profile-settings__edit:hover {
  background-color: var(--blue);
}
.profile-information {
  border-top: rgba(255, 255, 255, 0.1) solid 1px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 25px 30px 25px;
  background-color: var(--black);
}
.profile-information__title {
  font-size: 16px;
  margin: 30px 0px 20px 0px;
  cursor: default;
}
.profile-information__games {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.profile-information__games img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.profile-information__games h6 {
  font-size: 15px;
  cursor: default;
}
.profile-information span {
  display: block;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  cursor: default;
}
.profile-information__gray {
  display: block;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  cursor: default;
}
.profile-information__privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-information__privacy div {
  display: flex;
  align-items: center;
}
.profile-information__privacy i {
  margin-right: 10px;
  margin-top: -20px;
}
