.social-screen {
  padding: 142px 0px 71px 0px;
}
.chat-start-btn {
  background-color: rgb(0, 145, 245);
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 25px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
  animation: appearBtnAnimation 0.25s 0.5s ease-in-out forwards;
}
.chat-start-btn:hover {
  background-color: var(--blue);
}
